@import "UTF-8";
@font-face {
    font-family:"passionone";
    src: url("fonte/passionone.otf");
}


body{
    margin: 0%;
    ;
}

/*--------------------------------SITE---------------------------------------------------------*/

h1{
    font-family: "passionone", sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    width: 100%;
    height: 180px;

}
a{
    color: white;
    text-decoration: underline;
}
.autor{
    font-size: 19px;
    color: white;
    padding-bottom: -18px;
}

